streamlit
langchain-community
langchain_community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
pysqlite3-binary
pypdf
chromadb
torch  # Required for HuggingFaceEmbeddings
transformers  # Required for HuggingFaceEmbeddings
sentence-transformers  # Ensures embeddings models work properly
